#data - không cần đẩy lên git
data/raw/
data/processed/
data/sample/
*.json.gz
*.parquet
*.csv
#Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
#Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoint
#ouput
outputs/models/*.pkl
outputs/models/*.pt
outputs/models/*.bin

#OS
.DS_Store
Thumbs.db